<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testing">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="ULPA"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="whether_intensive"></activity>
        <activity android:name="university_in_state"></activity>
        <activity android:name="state_university_find_language"></activity>
        <activity android:name="whether_on_campus"></activity>
        <activity android:name="multiple_choice_university"></activity>
        <activity android:name="search_main_page"></activity>
        <activity android:name="multiple_language_one"></activity>
        <activity android:name="language_university_state_choose"></activity>
        <activity android:name="result_show_page"></activity>
        <activity android:name="contact"></activity>
        <activity android:name="language_detail"></activity>
        <activity android:name="why_study_language"></activity>
        <activity android:name="more_about_ulpa"></activity>
        <activity android:name="faq"></activity>
        <activity android:name="where_to_study"></activity>
        <activity android:name="can_i_study"></activity>








    </application>

</manifest>